
<h1>Get to Know Joel!</h1>

<br/>

<div>
    <p>Click <a href="https://www.qwcomedy.com/"> here</a> to see Joel perform live comedy at Quick Wits Comedy</p>
</div>
<br/>

<div>
    <p>Click <a href="https://baconsale.com/"> here</a> to listen to Joel's podcast, Baconsale</p>
</div>
<br/>

<div>
    <a href="https://baconsale.com/">
        <img src="/Baconsale.jpg" height="500" />
    </a>
</div>